pre{
font-size:20;
font-style: oblique;
}

*{
margin :0;
padding :0;
}
.header
{
background-color:aqua;
}
body
{
background-color:OldLace;

}

.image{
margin-top:-350px;
margin-left:600px;
width:30%;

}

.about{
width:70%;
overflow:hidden;
}
p{
text-indent:20px;
word-spacing:7px;
font-style: oblique;
font-size : 18px;
}
/*.list a{
padding:8px;
color:white;
font-size:18px;
background:#00ffff;
}*/
.list-color{
background:#00ffcc;

}
.list ul li{
float:left;
padding : 30px;
list-style : none;
}
 a
{
text-decoration:none;
}
h3
{
background-color:Wheat;
}